
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}
.logo {
  display: flex;
  border: 1px solid black;
  letter-spacing: 10px;
  color: white;
  width: 20%;
  height: 10%;
  left: 46%;
  top: 0%;
  position: absolute;
}
#harita {
  display: flex;
  border: 1px solid black;
  border-radius: 40px;
  background-color: white;
  width: 96%;
  height: 60%;
  left: 2%;
  top: 35%;
  position: absolute;
}
.harita:hover {
  transform: scale(1.02); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
}
.dronesearch {
  display: flex;
  width: 200px;
  height: 50px;
  left: 15.2%;
  top: 7.2%;
  position: absolute;
}

.dronesearch select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f9f9f9; 
  border: 1px solid #dcdcdc; 
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 15px;
}
.fordrone {
  display: flex;
  background-color: #f9f9f9; 
  width: 45%;
  height: 22%;
  border-radius: 20px; 
  border: 1px solid #dcdcdc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  position: absolute;
  left: 28%;
  top: 7%;
  align-items: center;
  justify-content: center;
  gap: 30%;
  padding: 20px;
  letter-spacing: 2px;
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.fordrone ul i {
  display: flex;
  margin-right: 10px;
  font-size: 20px;
  color: #333;
  flex-direction: column;
}
.havadurumuul {
  margin: 1%;
  display: flex;
  background: none;
  color: #ffffff;
  font-size: 90%;
  position: absolute;
  flex-direction: column;
  left: 77%;
  top: 5%;
  gap: 5px;
}


.havadurumuul p {
  display: flex;
  font-size: 18px;
  letter-spacing: 5px;
  flex-direction: column;
  gap: 2px;
  margin: 1px;
}

.kullaniciuyarilari {
  margin: 1%;
  display: flex;
  background: none;
  color: #ffffff;
  font-size: 90%;
  position: absolute;   
  top: 10%;
  left: 0.1%;
  gap: 10px;
}
.kullaniciuyarilariul p {
  display: flex;
  font-size: 20px;
  letter-spacing: 2px;
  flex-direction: column;
  gap: 10px;
  margin: 6px;
}

.kullaniciuyarilarii1{ 
  display: flex;
  background: none;
  color: #4d5dbd8e;
  font-size: 90%;
}

.ads-container {
  position: fixed;  
  bottom: 0;        
  left: 0;          
  width: 100%;      
  text-align: center; 
  z-index: 9999;   
  padding: 10px 0;  
  
}

.adsbygoogle {
  margin: 0 auto;   
}

